@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}
.box{
    width: 100%;
}
.tepa{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
@media screen and (max-width: 695px) {
    .tepa{
        flex-direction: column;
        height: 450px;
        gap: 10px;
    }
    
}
.svg > img{
    width: 140px;
    height: 31px;
    cursor: pointer;
}
@media screen and (max-width:888px) {
    .svg{
        width: 80px;
    }
}
.ul{
    width: 512px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
@media screen and (max-width: 695px) {
    ul{
        flex-direction: column;
    }
}
@media screen and (max-width:980px) {
    .ul{
        margin-left: 50px;  
    }
}
.ul > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.ul > ul > li > a{
    font-weight: 400;
    font-size: 16px;
    color: #013A4C;
}
.btn{
    width: 197px;
    height: 38px;
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 1102px) {
    .btn{
        flex-direction: column;
        gap: 10px;
        width: 150px;
    }
}
@media screen and (max-width:695px) {
    .btn{
        margin-left: 80px;
    }
}
.btn > .btn1{
    width: 114px;
    height: 40px;
    border-radius: 4px;
    background-color: #FFD063;
    font-weight: 400;
    font-size: 14px;
    color: #013A4C;
    border: none;
}
.btn > .btn1:hover{
    background-color: #FFC107;
    cursor: pointer;
}
.btn > .btn2{
    width: 75px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #346170;
    color: #013A4C;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
}
@media screen and (max-width: 695px) {
    .btn > .btn2{
        margin-left: 20px;
    }
}
.btn > .btn2:hover{
    background-color: #346170;
    color: #fff;
    cursor: pointer;
}
.yer > img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1081px) {
    .yer > img{
        display: none;
    }
}
.asosiy{
    width: 100%;
    height: 700px;
    background-image: url(img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    gap: 50px;
}
.asosiy > h1{
    width: 55%;
    font-weight: 400;
    font-size: 76px;
    color: #013A4C;
}
.asosiy > p{
    width: 35%;
    font-weight: 400;
    font-size: 24px;
    color: #013A4C;
}
@media screen and (max-width: 617px) {
    .asosiy > p{
        width: 85%;
    }
}
.button > .btn3{
    width: 176px;
    height: 50px;
    background-color: #FFD063;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #013A4C;
}
.button{
    width: 500px;
    display: flex;
    gap: 10px;
}
.button > .btn3:hover{
    background-color: #FFC107;
    cursor: pointer;
}
.button > .btn4{
    width: 130px;
    height: 50px;
    background-color: #013A4C;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #013A4C;
    border-radius: 4px;
    color: #fff;
}
@media screen and (max-width: 695px) {
    .button{
        flex-direction: column;
    }
}
.button > .btn4:hover{
    background-color: #346170;
    border: 1px solid #346170;
    cursor: pointer;
}
.past{
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #013A4C;
    text-align: center;
    gap: 20px;
}
@media screen and (max-width: 620px) {
    .past{
        height: auto;
    }
    .past > h1{
        width: 100%;
        font-size: 20px;
    }
}
.past > h1{
    width: 40%;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}
.rasmlar{
    width: 100%;
    height: 64px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
    .rasmlar{
        height: auto;
    }
}
.past2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013A4C;
}
.past2 > .left{
    width: 624px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
@media screen and (max-width: 867px) {
    .past2{
        flex-direction: column;
        height: auto;
}
    .past2 > .left{
       align-items: center;
    }
    .left > h1{
        text-align: center;
}
    .left > p{
        text-align: center;
    }
}
.left > h1{
    font-size: 72px;
    font-weight: 400;
    width: 80%;
    color: #fff;
}
.left > p{
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    width: 90%;
}
.left > button{
    width: 216px;
    height: 50px;
    background-color: #FFD063;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #013A4C;
}
.left > button:hover{
    background-color: #FFC107;
    cursor: pointer;
}
.songi{
    width: 100%;
    height: 100vh;
    background-color: #013A4C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collab{
    width: 80%;
    height: 600px;
    background-color: #94B4C2;
    border-radius: 10px;
}
.tepa2{
    width: 100%;
    height: 121px;
    border-bottom: 2px solid #c0c0c0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
